StudentsCatalogProject/WebSite/Connected Services/NationalityService/Nationality2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ApplicationServices.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ApplicationServices.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfNationalityDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NationalityDto" nillable="true" type="tns:NationalityDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNationalityDto" nillable="true" type="tns:ArrayOfNationalityDto" />
  <xs:complexType name="NationalityDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NationalityDto" nillable="true" type="tns:NationalityDto" />
</xs:schema>