StudentsCatalogProject/WebSite/Connected Services/NationalityService/Nationality1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51863/Nationality.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ApplicationServices.DTOs" />
  <xs:element name="Testing">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNationalities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNationalitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ApplicationServices.DTOs" minOccurs="0" name="GetNationalitiesResult" nillable="true" type="q1:ArrayOfNationalityDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNationalityByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNationalityByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ApplicationServices.DTOs" minOccurs="0" name="GetNationalityByIDResult" nillable="true" type="q2:NationalityDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostNationality">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ApplicationServices.DTOs" minOccurs="0" name="nationalityDto" nillable="true" type="q3:NationalityDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostNationalityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostNationalityResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutNationality">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ApplicationServices.DTOs" minOccurs="0" name="nationalityDto" nillable="true" type="q4:NationalityDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutNationalityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PutNationalityResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNationality">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNationalityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteNationalityResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>