StudentsCatalogProject/WebSite/Connected Services/FacultyService/Faculty1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ApplicationServices.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ApplicationServices.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFacultyDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FacultyDto" nillable="true" type="tns:FacultyDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFacultyDto" nillable="true" type="tns:ArrayOfFacultyDto" />
  <xs:complexType name="FacultyDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FacultyDto" nillable="true" type="tns:FacultyDto" />
</xs:schema>