StudentsCatalogProject/WebSite/Connected Services/StudentService/Student1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ApplicationServices.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ApplicationServices.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStudentDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StudentDto" nillable="true" type="tns:StudentDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudentDto" nillable="true" type="tns:ArrayOfStudentDto" />
  <xs:complexType name="StudentDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateOfBirth" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Faculty" nillable="true" type="tns:FacultyDto" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nationality" nillable="true" type="tns:NationalityDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StudentDto" nillable="true" type="tns:StudentDto" />
  <xs:complexType name="FacultyDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FacultyDto" nillable="true" type="tns:FacultyDto" />
  <xs:complexType name="NationalityDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NationalityDto" nillable="true" type="tns:NationalityDto" />
</xs:schema>